body {
	background-color: antiquewhite;
}

h1 {
  margin: 1%;
  color: blue;
}

h2 {
  margin: 1%;
  color: purple;
}

h3 {
  margin: 1%;
  color: green;
}

h4 {
  margin: 1%;
  color: deeppink;
}

h5 {
  margin: 1%;
  color: red;
}

.box {
  border: dashed gold;
  margin: 5px;
  padding: 1%;
}
.navbar {
	background-color: #e3f2fd;
}

.navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
  text-align: center;
}

#header {text-align: center;}


img{
	display: block;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	height: 10%;
}